:root {
    /* Variable definitions here */
}

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    border: 2px solid red;
    height: 99vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nexus {
    border: 2px solid blue;
    border-radius: 50%;
    position: absolute;
    width: 80vh;
    height: 80vh;
}

.door {
    border: 2px solid black;
    height: 13vh;
    width: 5.5vh;
    transform-origin: center;
    position: absolute;
}